@section scripts {
    <script src="~/signalr/hubs"></script>
    <script src="@Url.Content("~/Scripts/MobilePage.js")"></script>
}

<div align="center">
    <div id="phoneText" class="whiteFat">Rotate phone to steer.</div>
</div>
